# Ignore Python virtual environments
venv/
env/
.venv/
forecastenv/
app/forecastenv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Streamlit & secrets
.streamlit/secrets.toml
.streamlit/config.toml


# Model files
*.h5
*.joblib
*.sav

# Build artifacts
build/
dist/
*.egg-info/

# IDE & OS files
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
